<div class="document-container">
    <div class="table-container">
    <table class="document-table table table-bordered">
      <thead>
        <tr>
          <th>Document Name</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading">
          <td colspan="2" class="text-center">
            <div class="spinner-border text-success" role="status">
              <span>Loading...</span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let document of documents | keyvalue">
          <td>{{document.key}}</td>
          <td>{{ document.value[0] }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="Download(document.key,document.value[0],document.value[1])">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
