<div class="document-container">
    <div class="table-container">
      <input
      type="text"
      class="form-control mb-3"
      placeholder="Search Document"
      [(ngModel)]="searchTerm"
      (input)="filterDocuments(searchTerm)"    />
    <table class="document-table table table-bordered">
      <thead>
        <tr>
          <th>Documents</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading">
          <td colspan="2" class="text-center">
            <div class="spinner-border text-success" role="status">
              <span>Loading...</span>
            </div>
          </td>
        </tr>
        <tr *ngFor="let document of documents">
          <td>{{ document }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="Download(document)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
